@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #f4f4f9;
}

.header {
    background-color: rgb(230, 70, 82);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50%;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ffbc0e;
}

.header .btn-container {
    display: flex;
    gap: 0; 
}

.header .btn button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 3px;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}


.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    padding: 8px 16px;
    border: none;
    background-color: #ffbc0e;
    color: #1b3039;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #e2f1f8;
}

.main {
    padding: 20px 10%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 300px; /* Fijar altura para todas las imágenes */
    object-fit: cover; /* Ajustar imagen dentro del contenedor */
    border-radius: 10px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product-card p {
    font-size: 1em;
    color: #333;
}
