@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.header {
    background-color: rgb(230, 70, 82);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 50%;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ffbc0e;
}

.header .btn-container {
    display: flex;
    gap: 0; 
}

.header .btn button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin: 5px;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.05);
}


.feed {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

.post {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 15px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header div h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.post-header div p {
    font-size: 14px;
    color: gray;
}

.post-content p {
    margin-bottom: 10px;
}

.post-content img {
    width: 100%;
    border-radius: 10px;
}

.post-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.post-footer button {
    background: none;
    border: none;
    color: #1b3039;
    font-weight: bold;
    cursor: pointer;
}

.post-footer button:hover {
    color: #ffbc0e;
}


.add-post-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffbc0e;
    color: #1b3039;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.add-post-btn:hover {
    background-color: #ffdb4d;
}
